#grid {
	width: min-content;
}
#grid > div {
  	width: 740px;
  	height: 37px;
}
#grid > div > div {
	border: solid 1px black;
	height: 35px;
	width: 35px;
	float: left;
}
#start {
	background-color: green;
}
#end {
	background-color: red;
}
.neighbour {
	background-color: lightblue;
}
.closed {
	background-color: lightgrey;
}
.current {
	background-color: yellow;
}
.solution {
	background-color: purple;
}
.blocked{
	background-color: black;
}